<nav class="m-1">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="pills-cadelas-tab" data-toggle="pill" href="#pills-cadelas" role="tab" aria-controls="pills-cadelas" aria-selected="false">Cadelas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-machos-tab" data-toggle="pill" href="#pills-machos" role="tab" aria-controls="pills-machos" aria-selected="false">Machos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-cruzas-tab" data-toggle="pill" href="#pills-cruzas" role="tab" aria-controls="pills-cruzas" aria-selected="false">Cruzas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-ninhadas-tab" data-toggle="pill" href="#pills-ninhadas" role="tab" aria-controls="pills-ninhadas" aria-selected="false">Ninhadas</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-cadelas" role="tabpanel" aria-labelledby="pills-cadelas-tab">
      <button class="btn btn-primary m-1" routerLink="/listarCadelas">Listar Cadelas</button>
      <button class="btn btn-primary m-1" routerLink="/cadastrarCadela">Cadastrar Cadela</button>
    </div>
    <div class="tab-pane fade" id="pills-machos" role="tabpanel" aria-labelledby="pills-machos-tab">
      <button class="btn btn-primary m-1" routerLink="/listarMachos">Listar Machos</button>
      <button class="btn btn-primary m-1" routerLink="/cadastrarMacho">Cadastrar Macho</button>
    </div>
    <div class="tab-pane fade" id="pills-cruzas" role="tabpanel" aria-labelledby="pills-cruzas-tab">
      <button class="btn btn-primary m-1" routerLink="/listarCruzas">Listar Cruzas</button>
      <button class="btn btn-primary m-1" routerLink="/cadastrarCruza">Cadastrar Cruza</button>
    </div>
    <div class="tab-pane fade" id="pills-ninhadas" role="tabpanel" aria-labelledby="pills-ninhadas-tab">
      <button class="btn btn-primary m-1" routerLink="/listarNinhadas">Listar Ninhadas</button>
      <button class="btn btn-primary m-1" routerLink="/cadastrarNinhada">Cadastrar Ninhada</button>
    </div>
  </div>
</nav>
